body
  background-color: $background_color
  color: $text_color
  font-family: $standard_font
  -webkit-font-smoothing: antialiased  
  font-smoothing: antialiased
  line-height: 138.2%
ol, ul
  margin: 0
  li
    margin: 0.2em 0
a
  color: $link_color
  &:hover
    color: $hover_color
h1, h2, h3, h4, h5
  line-height: 110%
  font-weight: normal
  text-align: center
h1, h2, h4
  font-family: $headline_font
  color: $headline_color
h1
  text-transform: uppercase
  font-size: 3em
h2
  font-size: 1.8em
h3
  margin: 0.5em 0
  font-size: 1.68em
  font-style: italic
  font-family: $subheadline_font
  color: $subheadline_color
h4
  text-align: right
  text-transform: uppercase
  font-size: 2em
  line-height: 120%
  margin: 0
hr
  border-top: 1px solid $border_color
  border-left: none
  border-right: none
  border-bottom: none
img
  max-width: 100%
iframe
  width: 100%
  height: 12em
  +media($tablet)
    height: 22em
  +media($desktop)
    height: 34vw
  margin-top: 1em
em
  font-style: normal
  font-size: 0.9em
form
  +span-columns(6)
  margin-top: 2em
  label
    display: block
    margin-bottom: 0.5em
    font-size: 1.2em
  #{$all-text-inputs}, textarea, select, [type=file]
    display: block
    +span-columns(6)
    margin-bottom: 2em
    background: $container_color
    border: none
    padding: 0.4em
    line-height: 2em
    &.has_em
      margin-bottom: 0
  [type=file]
    line-height: 1em
  [type=submit]
    +pedir_button
  select
    height: 2.8em
[type=checkbox]~label
  margin-left: 0.2em
